*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

@media  (max-width:1025px){
    .navbar-desk{display: none !important;}
}
@media  (min-width:1025px) {
   
    .navbar{
        display:none;
    }
    .navbar-desk{
        width:100vw ;
        height:10vh;
        background-color: transparent;
    }
    .nav-desk-container{
        width: 40vw;
        height: 8vh;
        margin:0 0 0 30vw;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        
    }
    .nav-desk-container a{
        width: 8vw !important;
        height: 7vh !important;
        color: black;
        text-decoration: none;
        font-weight: 800;
    }
    .navbar-links{
        width: 8vw !important;
        height: 7vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
        
        border-radius: 30px;
        background-color: #DBC95A;
    }
    
    .container2{
        margin-top: 30vh;

    }
    .container2{
        background: #49BEB7;
        width: 60vw !important;
        height: 50vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border:2px solid #49BEB7;
        border-radius: 40px;
    }
    .container2 form{
        margin: 10vh 2vw 0 0;
        width: 60vw !important;
        height: 46vh !important;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    
    }
    .input{
        width: 50vw !important;
        height: 8vh;
        background-color: #ffeb6650;
        border-radius: 30px;
    }
    #text{
        width: 50vw !important;
        height:8vh;
        background-color: transparent;
        border: 2px solid transparent;
        border-radius: 30px;
       
    }
    
    #password{
        width: 50vw !important;
        height: 8vh;
        background-color: transparent;
        border: 2px solid transparent;
        border-radius: 30px;
    }
    
    .input ::placeholder{
        margin-left: 2vw;
        color: rgb(44, 43, 43);
        font-weight: 700;
        font-size:medium;
    }
    .fontAwesome {
        font-family: 'Helvetica', FontAwesome, sans-serif; 
        font-weight: 900;
        width: 1vw;
        height: 1vw;
        margin-left:7vw ;
    }
    .sign-in{
        width: 60vw;
        height: 15vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .sign-in input{
        width: 50vw;
        height: 7vh;
        background-color: #FFEA66;
        border: 2px solid #FFEA66;
        border-radius: 30px;
        font-size: 1.5rem;
        font-weight: 700;
    }
}
@font-face {
    font-family: "iransans" ;
    src: url(/fonts/FontsFree-Net-ir_sans.ttf);
}
html{
    font-family: "iransans";
}
.background{
    background-size: cover; 
    background-position-x: center;
    height: 100vh;
    width: 100vw;
    background-image: url("src/background.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.png{
    width: auto;
    height: 7vh;
}
.navbar{
    direction: rtl;
    padding: 2vh 4vw 1vh 0vw ;
}
.navbar img{
    top:20px;
    right:20px;
    position: fixed;
}
.container2{
    background: #49BEB7;
    width: 90vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #49BEB7;
    border-radius: 40px;
}
.container2 form{
    margin: 10vh 2vw 0 0;
    width: 88vw;
    height: 46vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}
.input{
    width: 70vw;
    height: 8vh;
    background-color: #ffeb6650;
    border-radius: 30px;
}
#text{
    width: 70vw;
    height:8vh;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 30px;
   
}

#password{
    width: 70vw;
    height: 8vh;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 30px;
}

.input ::placeholder{
    margin-left: 2vw;
    color: rgb(44, 43, 43);
    font-weight: 700;
    font-size:medium;
}
.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif; 
    font-weight: 900;
    width: 1vw;
    height: 1vw;
    margin-left:7vw ;
}
.sign-in{
    width: 60vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-in input{
    width: 50vw;
    height: 7vh;
    background-color: #FFEA66;
    border: 2px solid #FFEA66;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 700;
}