*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
@media (max-width :375px) {
    .photopos{
        width:20vw !important;
        height:30vw !important;
    }
    
    .photocontainer img{
        margin-left: 30vh;
        width: 40vw !important;
        height: 40vw !important;
    }
    
}
  
@media  (min-width:760px ){
 .photocontainer img{
    width: 40vw;
    height: 30vh;
 }
 .container .textcontainer p{
    font-size: 2rem;
}
}
@media  (max-width:1025px){
    .navbar-desk{display: none !important;}
    
}

@media  (min-width:1025px) {
    
    body{
        background-color: #49BEB7;
    }
    .navbar{
        display:none;
    }
    .navbar-desk{
        width:100vw ;
        height:10vh;
        background-color: transparent;
    }
    .nav-desk-container{
        width: 40vw;
        height: 8vh;
        margin:0 0 0 30vw;
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        margin-top:3vh ;
    }
    .nav-desk-container a{
        width: 8vw !important;
        height: 7vh !important;
        color: black;
        text-decoration: none;
        font-weight: 800;
    }
    .navbar-links{
        width: 8vw !important;
        height: 7vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
        
        border-radius: 30px;
        background-color: #DBC95A;
    }
    #pagehere {
        background-color: #db945a;
    }
     
    .logo h1{
        margin-left: 2vh !important;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }
    .content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        direction: rtl;
        height: 70vh !important;
        margin-top: 5vh;
    }
    .textcontainer p{
        font-size: 1.6rem !important;
        line-height: 8vh;
    }
}
@font-face {
    font-family: "iransans" ;
    src: url(/fonts/FontsFree-Net-ir_sans.ttf);
}
html{
    font-family: "iransans";
}
.background{
 background-size: cover; 
 background-position-x: center;
 height: 100vh;
 width: 100vw;
 background-color: #49BEB7;
}
.png{
    width: auto;
    height: 7vh;
}
.navbar{
    direction: rtl;
    padding: 2vh 4vw 1vh 0vw ;
}
.navbar img{
    top:20px;
    right:20px;
    position: fixed;
}

.logo{
    width: auto;
    height:5vh;
    display: flex;
}
.logo h1{
    margin-left: 4vw;
    font-size: xx-large;
}
#enLogo{
    font-size: 2.3rem;
}
.photopos{
    width: auto;
    height: 28vh;
   margin: 7vh; 
}
.photocontainer{
    width: auto;
    height: 28;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photocontainer img{
    border: 2px solid white;
    border-radius: 20px;
}
.textoutline{
    width: auto;
    height: 50vh;
}
.textcontainer{
    margin: 2vh 2vw;
    width: auto;
    height: 48vh;
    border: 5px solid #085F63;
    border-radius: 20px;
    background-color: #085F63;
}
.textcontainer p{
    font-size: large;
    margin: 2vh 5vw;
    direction: rtl;
    font-weight:550;
    color: white;
}